.wrapper,
#root {
	width: 100%;
	max-width: $containerWidth + px;
	background-color: $containerColor;

	@media (max-width: $breakpoint1450) {
		max-width: 1450px;
	}

	@media (max-width: $breakpoint992) {
		max-width: 992px;
	}

	@media (max-width: $breakpoint768) {
		max-width: 768px;
	}

	@media (max-width: $breakpoint480) {
		max-width: none;
	}
}

// .wrapper
.wrapper {
	display: grid;
	min-height: 100%;

	&__side {
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-self: flex-end;
		width: $maxContainerPadding + px;

		@media (min-width: $breakpoint480) {
			@include adaptiveValue(
				'width',
				$minContainerPadding,
				$maxContainerPadding,
				400,
				780
			);
		}

		@media (max-width: $breakpoint480) {
			display: none;
		}

		&:first-child {
			@include adaptiveValue('gap', 8, 15);
		}

		&:last-child {
			right: 0;

			@media (min-width: ($containerWidth + px)) {
				margin-right: calc((100vw - ($containerWidth * 1px)) / 2);
			}

			.wrapper__side__label {
				margin-bottom: 0.9375rem;
				writing-mode: vertical-lr;

				@include adaptiveValue('font-size', 10, 15);

				a {
					transition: 0.3s color;
					color: #b299c6;
					font-family: $fontMain;
					font-style: normal;
					font-weight: 300;
					line-height: normal;
					letter-spacing: 0.1062rem;

					&:hover {
						color: $secondary;
					}
				}

				@media (max-width: $breakpoint480) {
					margin-bottom: 0;
				}
			}

			.wrapper__side__line {
				height: 20vh;
			}
		}

		&__label {
			&:hover {
				color: $secondary;

				svg path {
					fill: $secondary;
				}
			}

			svg {
				@include adaptiveValue('width', 18, 25);

				path {
					transition: 0.3s fill;
				}
			}
		}

		&__line {
			width: 0.0625rem;
			height: 30vh;
			background: #b299c6;
		}
	}
}

// #root, .root
#root,
.root {
	@include adaptiveValue(
		'padding-left',
		$minContainerPadding,
		$maxContainerPadding,
		400,
		780
	);
	@include adaptiveValue(
		'padding-right',
		$minContainerPadding,
		$maxContainerPadding,
		400,
		780
	);

	@media (max-width: $breakpoint1450) {
		max-width: 90.625rem;
	}

	@media (max-width: $breakpoint992) {
		max-width: 62rem;
	}

	@media (max-width: $breakpoint768) {
		max-width: 48rem;
	}

	@media (max-width: $breakpoint480) {
		max-width: none;
	}
}

// body
body {
	font-family: $fontMain;
	background-color: $backgraundColor;
	display: flex;
	justify-content: center;
}

.share-button {
	background-color: inherit;
	border-radius: 0.9375rem;
	border: 0.1px solid $primary;

	color: $primary;
	text-align: center;
	font-family: $fontMain;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: flex;
	align-items: center;
	gap: 0.9375rem;
	cursor: pointer;
	transition: color 0.3s, box-shadow 0.3s, border 0.3s, margin 0.3s;
	word-break: break-all;

	@include adaptiveValue('font-size', 16, 18);

	@include adaptiveValue('padding-top', 16, 20);
	@include adaptiveValue('padding-bottom', 16, 20);
	@include adaptiveValue('padding-left', 28, 40);
	@include adaptiveValue('padding-right', 28, 40);

	@media (max-width: $breakpoint480) {
		width: 100%;
		justify-content: center;
	}

	@media (max-width: 176px) {
		flex-direction: column;
	}

	&:hover {
		border: 1px solid $secondary;
		color: $secondary;

		& svg {
			fill: $secondary;
		}
	}

	& svg {
		fill: #f3f3f3;
		transition: fill 0.3s;

		@include adaptiveValue('width', 14, 18);
		@include adaptiveValue('height', 14, 18);
		@include adaptiveValue('background-size', 14, 18);
	}
}
